<!DOCTYPE html>

<h3>Automation & Integration Developer</h3>
<sub>September 2017 - March 2021</sub>
<ul class="responsibilities">
    <li class="responsibility">Developed a custom ServiceNow solution to remotely execute code on CIs through ECC Queue
    </li>
    <li class="responsibility">Designed a ServiceNow Portal Dashboard for an Automated Services Health Check for
        PureConnect CaaS
        Solution</li>
    <li class="responsibility">Architected DevOps pipelines to provision VMs, configure, and install/update software
        using ServiceNow,
        Jenkins, Hyper-V, and PowerShell</li>
    <li class="responsibility">Integrated ServiceNow, PagerDuty, SalesForce Service Cloud and Zoom. Creating a Major
        Incident (MI)
        record in ServiceNow, fetching the relevant SFSC data, sends a page through PagerDuty, populates a Zoom
        video conference and shares the info with the responders and additional stakeholders in chat</li>
    <li class="responsibility">Thorough understanding of ServiceNow GlideRecord, Workflow Editor, Studio, Business Rules
    </li>
    <li class="responsibility">Led a team of SREs/Developers from a technical skills perspective to foster creativity
        and continued
        learning in many skill areas</li>
    <li class="responsibility">Day-to-day ServiceNow administration and request/task work</li>
    <li class="responsibility">Implemented Major Incident, GRC, and Integration Hub</li>
    <li class="responsibility">Enhancements to custom event and alert management solutions in ServiceNow</li>
    <li class="responsibility">Developed various new ServiceNow scoped applications</li>
    <li class="responsibility">Led and organized stakeholder teams in ServiceNow Upgrade process from (Kingston through
        Paris)</li>
    <li class="responsibility">Worked with Consultants to implement an automated testing framework using selenium for
        ServiceNow (prior
        to release of ServiceNow ATF in Madrid)</li>
    <li class="responsibility">ServiceNow Knowledge 2018 - 2020 Attendee and CreatorCon 2019 Participant</li>
    <li class="responsibility">Presented at ServiceNow User Groups (SNUGs)</li>
</ul>