<!DOCTYPE html>

<h3 class="role-title">Continual Service Improvement Architect</h3>
<sub class="tenure">February 2016 - September 2017</sub>
<ul class="responsibilities">
    <li class="responsibility">Identified and improved services and processes within Enterprise Cloud
        Services Department</li>
    <li class="responsibility">Created Standardized documentation, designed templates and created forms
        for easily maintaining infrastructure, customer, and support information</li>
    <li class="responsibility">Helped organize, evangelize, and share solutions in the DevOps Guild
        Weekly Showcase</li>
    <li class="responsibility">Collaborated across the organization to begin standardizing internal
        processes for ServiceNow upgrades</li>
    <li class="responsibility">ServiceNow Administrator Course Completion</li>
    <li class="responsibility">Splunk .conf attendee in 2016</li>
    <li class="responsibility">Splunk Certification in 2016</li>
</ul>