<!DOCTYPE html>

<h3>Principal Engineer</h3>
<sub>May 2014 - February 2016</sub>
<ul>
    <li class="responsibility">Participated in ServiceNow upgrade process, starting with Fuji to Geneva
    </li>
    <li class="responsibility">Assisted in setup of ServiceNow Discovery</li>
    <li class="responsibility">Worked with consultants to create custom probes and sensors to discover
        and categorize our custom-defined CIs</li>
    <li class="responsibility">Revamped and taught all training materials, recorded videos, and live
        webinars for each of the services responsible for as a SME (10+ services)</li>
    <li class="responsibility">Handled skill team escalations reviewing software tracing, server
        performance logging, process monitor, crash dumps, as well as custom developed discovery tooling</li>
    <li class="responsibility">Managed a team of Senior System Engineers; fostered career growth and
        coaching, provided continued learning opportunities, and managed their workloads</li>
    <li class="responsibility">Day-to-day ServiceNow administration and request/task work</li>
    <li class="responsibility">Worked closely with Development and DevSupport to solve complex customer
        scenarios</li>
    <li class="responsibility">Presented to a packed conference Hall for Interaction Monitor Application
        in 2015 and Notifier, Events, PubSub, and Inter–subsystem communications at Interactions Conference 2014
        and 2015</li>
</ul>