<!DOCTYPE html>

<h3>Senior Automation & Integration Architect</h3>
<sub>March 2021 - Present</sub>
<ul class="responsibilities">
    <li class="responsibility">Designed multi-cloud, multi-customer SaaS deployments and internal CI
        tracking web app</li>
    <li class="responsibility">Integrated external systems to enable automation of microservice
        deployment through REST APIs</li>
    <li class="responsibility">Utilized Jenkins, Github Actions, Artifactory, Kubernetes, Helm, Docker,
        and Terraform to deploy new customer environments for a SaaS solution</li>
    <li class="responsibility">Reduced monthly Cloud spend considerably by implementing and integrating
        Cloud Custodian to cleanup or scale down unused or underutilized cloud resources</li>
    <li class="responsibility">Documented High-Level Architecture (HLA), Entity Relationship Diagram
        (ERD), OpenAPI (Swagger), JSDoc, and various architecture design and code documentation throughout all
        projects</li>
    <li class="responsibility">Led a team of SREs/Developers from a technical skills perspective to
        foster creativity and continued learning in many skill areas</li>
</ul>