<!DOCTYPE html>

<h3>Senior Systems Engineer</h3>
<sub>May 2014 - November 2014</sub>
<ul class="responsibilities">
    <li class="responsibility">Taught ICCE 4.0 certification course at HQ for employees, customers, and
        partners</li>
    <li class="responsibility">Worked On-Call shifts to support our customers and services</li>
    <li class="responsibility">Collaborated with development and customers to enhance our switchover
        subsystem (failover) to reduce false switchover events by 90%</li>
    <li class="responsibility">Day-to-day ServiceNow administration and request/task work</li>
</ul>