<!DOCTYPE html>

<h3>Systems Engineer</h3>
<sub>May 2013 - May 2014</sub>
<ul class="responsibilities">
    <li class="responsibility">Presented Automatic Call Distribution (ACD) subsystem, configurations,
        interaction routing, skill assignments, and troubleshooting at Interactions Conference 2013</li>
    <li class="responsibility">Frequently performed testing and issue reproduction for customer cases to
        confirm and collect data to collaborate with development teams to address</li>
    <li class="responsibility">Utilized ServiceNow from a consumer perspective</li>
    <li class="responsibility">Worked with ServiceNow Admins to request enhancements to various modules
    </li>
</ul>