<!DOCTYPE html>

<section>
    <div>
        <div id="architect" class="hidden">
            <h3>Senior Automation & Integration Architect</h3>
            <sub>March 2021 - Present</sub>
            <ul class="responsibilities">
                <li class="responsibility">Designed multi-cloud, multi-customer SaaS deployments and internal CI tracking web app</li>
                <li class="responsibility">Integrated external systems to enable automation of microservice deployment through REST APIs</li>
                <li class="responsibility">Utilized Jenkins, Github Actions, Artifactory, Kubernetes, Helm, Docker, and Terraform to deploy new customer environments for a SaaS solution</li>
                <li class="responsibility">Reduced monthly Cloud spend considerably by implementing and integrating Cloud Custodian to cleanup or scale down unused or underutilized cloud resources</li>
                <li class="responsibility">Documented High-Level Architecture (HLA), Entity Relationship Diagram (ERD), OpenAPI (Swagger), JSDoc, and various architecture design and code documentation throughout all projects
                </li>
                <li class="responsibility">Led a team of SREs/Developers from a technical skills perspective to foster creativity and continued learning in many skill areas</li>
            </ul>
        </div>

        <div id="developer" class="hidden">
            <h3>Automation & Integration Developer</h3>
            <sub>September 2017 - March 2021</sub>
            <ul class="responsibilities">
                <li class="responsibility">Developed a custom ServiceNow solution to remotely execute code on CIs through ECC Queue
                </li>
                <li class="responsibility">Designed a ServiceNow Portal Dashboard for an Automated Services Health Check for PureConnect CaaS Solution
                </li>
                <li class="responsibility">Architected DevOps pipelines to provision VMs, configure, and install/update software using ServiceNow, Jenkins, Hyper-V, and PowerShell</li>
                <li class="responsibility">Integrated ServiceNow, PagerDuty, SalesForce Service Cloud and Zoom. Creating a Major Incident (MI) record in ServiceNow, fetching the relevant SFSC data, sends a page through PagerDuty, populates a Zoom video conference and shares the
                    info with the responders and additional stakeholders in chat</li>
                <li class="responsibility">Thorough understanding of ServiceNow GlideRecord, Workflow Editor, Studio, Business Rules
                </li>
                <li class="responsibility">Led a team of SREs/Developers from a technical skills perspective to foster creativity and continued learning in many skill areas</li>
                <li class="responsibility">Day-to-day ServiceNow administration and request/task work</li>
                <li class="responsibility">Implemented Major Incident, GRC, and Integration Hub</li>
                <li class="responsibility">Enhancements to custom event and alert management solutions in ServiceNow</li>
                <li class="responsibility">Developed various new ServiceNow scoped applications</li>
                <li class="responsibility">Led and organized stakeholder teams in ServiceNow Upgrade process from (Kingston through Paris)
                </li>
                <li class="responsibility">Worked with Consultants to implement an automated testing framework using selenium for ServiceNow (prior to release of ServiceNow ATF in Madrid)</li>
                <li class="responsibility">ServiceNow Knowledge 2018 - 2020 Attendee and CreatorCon 2019 Participant</li>
                <li class="responsibility">Presented at ServiceNow User Groups (SNUGs)</li>
            </ul>
        </div>

        <div id="csia" class="hidden">
            <h3 class="role-title">Continual Service Improvement Architect</h3>
            <sub class="tenure">February 2016 - September 2017</sub>
            <ul class="responsibilities">
                <li class="responsibility">Identified and improved services and processes within Enterprise Cloud Services Department</li>
                <li class="responsibility">Created Standardized documentation, designed templates and created forms for easily maintaining infrastructure, customer, and support information</li>
                <li class="responsibility">Helped organize, evangelize, and share solutions in the DevOps Guild Weekly Showcase</li>
                <li class="responsibility">Collaborated across the organization to begin standardizing internal processes for ServiceNow upgrades</li>
                <li class="responsibility">ServiceNow Administrator Course Completion</li>
                <li class="responsibility">Splunk .conf attendee in 2016</li>
                <li class="responsibility">Splunk Certification in 2016</li>
            </ul>
        </div>

        <div id="principal_engineer" class="hidden">
            <h3>Principal Engineer</h3>
            <sub>May 2014 - February 2016</sub>
            <ul>
                <li class="responsibility">Participated in ServiceNow upgrade process, starting with Fuji to Geneva
                </li>
                <li class="responsibility">Assisted in setup of ServiceNow Discovery</li>
                <li class="responsibility">Worked with consultants to create custom probes and sensors to discover and categorize our custom-defined CIs</li>
                <li class="responsibility">Revamped and taught all training materials, recorded videos, and live webinars for each of the services responsible for as a SME (10+ services)</li>
                <li class="responsibility">Handled skill team escalations reviewing software tracing, server performance logging, process monitor, crash dumps, as well as custom developed discovery tooling</li>
                <li class="responsibility">Managed a team of Senior System Engineers; fostered career growth and coaching, provided continued learning opportunities, and managed their workloads</li>
                <li class="responsibility">Day-to-day ServiceNow administration and request/task work</li>
                <li class="responsibility">Worked closely with Development and DevSupport to solve complex customer scenarios
                </li>
                <li class="responsibility">Presented to a packed conference Hall for Interaction Monitor Application in 2015 and Notifier, Events, PubSub, and Inter–subsystem communications at Interactions Conference 2014 and 2015</li>
            </ul>
        </div>

        <div id="sr_sys_engineer" class="hidden">
            <h3>Senior Systems Engineer</h3>
            <sub>May 2014 - November 2014</sub>
            <ul class="responsibilities">
                <li class="responsibility">Taught ICCE 4.0 certification course at HQ for employees, customers, and partners
                </li>
                <li class="responsibility">Worked On-Call shifts to support our customers and services</li>
                <li class="responsibility">Collaborated with development and customers to enhance our switchover subsystem (failover) to reduce false switchover events by 90%</li>
                <li class="responsibility">Day-to-day ServiceNow administration and request/task work</li>
            </ul>
        </div>

        <div id="sys_engineer" class="hidden">
            <h3>Systems Engineer</h3>
            <sub>May 2013 - May 2014</sub>
            <ul class="responsibilities">
                <li class="responsibility">Presented Automatic Call Distribution (ACD) subsystem, configurations, interaction routing, skill assignments, and troubleshooting at Interactions Conference 2013</li>
                <li class="responsibility">Frequently performed testing and issue reproduction for customer cases to confirm and collect data to collaborate with development teams to address</li>
                <li class="responsibility">Utilized ServiceNow from a consumer perspective</li>
                <li class="responsibility">Worked with ServiceNow Admins to request enhancements to various modules
                </li>
            </ul>
        </div>
    </div>
</section>