<!DOCTYPE html>
<div class="grid-item column">
    <h3 class="skillset1">Platform Skills</h3>
    <ul class="skill-list">
        <li class="skill">ServiceNow Administration</li>
        <li class="skill">ServiceNow Development</li>
        <li class="skill">ServiceNow ITSM</li>
        <li class="skill">ServiceNow CMDB</li>
        <li class="skill">ServiceNow Change Management</li>
        <li class="skill">ServiceNow Incident Management</li>
        <li class="skill">ServiceNow Problem Management</li>
        <li class="skill">ServiceNow Major Incident Management</li>
        <li class="skill">ServiceNow Service Catalog</li>
        <li class="skill">ServiceNow Service Portal</li>
        <li class="skill">ServiceNow Scoped Application Development</li>
        <li class="skill">ServiceNow Discovery</li>
        <li class="skill">ServiceNow Probes and Sensors</li>
        <li class="skill">ServiceNow MID Server Administration</li>
        <li class="skill">ServiceNow HI Support Experience</li>
        <li class="skill">ServiceNow Workflow Editor</li>
        <li class="skill">ServiceNow Studio</li>
        <li class="skill">ServiceNow Integration Hub</li>
    </ul>
</div>
<div class="grid-item column">
    <h3 class="skillset">DevOps Skills</h3>
    <ul class="skill-list">
        <li class="skill">Javascript</li>
        <li class="skill">NodeJS</li>
        <li class="skill">ExpressJS</li>
        <li class="skill">ReactJS</li>
        <li class="skill">Python</li>
        <li class="skill">Flask</li>
        <li class="skill">Jinja</li>
        <li class="skill">C#</li>
        <li class="skill">Docker</li>
        <li class="skill">Helm</li>
        <li class="skill">Kubernetes</li>
        <li class="skill">Terraform</li>
        <li class="skill">Azure</li>
        <li class="skill">AWS</li>
        <li class="skill">REST APIs</li>
        <li class="skill">Webhooks</li>
        <li class="skill">Unit Testing</li>
        <li class="skill">Functional Testing</li>
        <li class="skill">Jest</li>
        <li class="skill">Selenium</li>
    </ul>
</div>
<div class="grid-item column">
    <h3 class="skillset">Soft-Skills</h3>
    <ul class="skill-list">
        <li class="skill">Team Leadership</li>
        <li class="skill">Mentorship</li>
        <li class="skill">Strong Ambition</li>
        <li class="skill">Verbal Communications</li>
        <li class="skill">Written Communications</li>
        <li class="skill">Critical Thinking</li>
        <li class="skill">Problem Solving</li>
        <li class="skill">Team Player</li>
        <li class="skill">Empathetic</li>
        <li class="skill">Flexible</li>
        <li class="skill">Motivated</li>
        <li class="skill">Dependable</li>
        <li class="skill">Creative</li>
    </ul>

</div>