.ima {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 1em;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

i {
    padding: right 2px;
    margin: 1em;
}

hr {
    margin-bottom: 2em;
}

a {
    color: #aaaaaa
}

#greeting {
    font-size: large;
    font-weight: bolder;
    font-display: center;
    text-align: center;
}

#profile-photo {
    border-radius: 50%;
}

h1,
h2 {
    text-align: center;
}

.summary {
    text-align: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
}

img {
    max-width: 100%;
    height: auto;
}


/* .column {
    float: left;
    width: 33.33%;
} */


/* Clear floats after the columns */

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #171717;
    overflow: hidden;
}

.nav-item {
    display: inline;
    float: left;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000000;
}

.sitemap-list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    overflow: hidden;
}


/* horizontally and vertically center nav-list */

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    margin: 0; */
}

.sitemap-item {
    display: inline;
}

.sitemap-item a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}


/* .nav-link {
    display: block;
    padding: 8px;
} */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* .skillset1 {
  grid-column-start: 1;
  grid-column-end: 3;
} */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-50%);
    transition: all 1.3s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0)
}

.wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-items {
    place-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.centered-text {
    text-align: center;
}

.wrapper .static-txt {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.wrapper .dynamic-txts {
    text-align: left;
    margin-left: 0.5rem;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: green;
    font-size: 30px;
    font-weight: bold;
    top: 0;
    position: relative;
    animation: slide 18s steps(6) infinite;
}

.dynamic-txts li {
    position: relative;
}

.dynamic-txts li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid green;
    animation: typing 3s steps(19) infinite;
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        top: -299px;
    }
}

@media(perfers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media only screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
        grid-row-gap: 100px;
    }
}