<!DOCTYPE html>

<h2>Honors & Awards</h2>
<hr>
<h3><strong>Engineer of the Year</strong> <i>Genesys | Interactive Intelligence </i>2016</h3>
<h3><strong>Support “Hero” Award</strong> <i>Genesys | Interactive Intelligence</i> 2015</h3>
<h3><strong>Award of Excellence</strong> <i>Genesys | Interactive Intelligence</i> 2014</h3>
<h3><strong>Engineer of the Quarter</strong> <i>Genesys | Interactive Intelligence</i> Q1 2014</h3>
<h3><strong>Engineer of the Quarter</strong> <i>Genesys | Interactive Intelligence</i> Q4 2013</h3>