<!DOCTYPE html>
<html lang="en">


<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">
    window.onload = function() {
        Calendly.initBadgeWidget({
            url: 'https://calendly.com/joshua-morrisett?background_color=000000&text_color=ffffff&primary_color=008000',
            text: 'Schedule time with me',
            color: '#008000',
            textColor: '#ffffff',
            branding: true
        });
    }
</script>
<!-- Calendly badge widget end -->