<!DOCTYPE html>

<h2>Education & Certification</h2>
<hr>
<h3><strong>Bachelor of Science in Computer/Information Technology</strong>
<h4><strong>Minor in Business Administration</strong> </h4>
<i>Ball State University | Muncie, Indiana</i> <b>May 2013</b>
<br>
<br>
<h3><strong>ITIL Foundations V3</strong> </h3>
<i>AXELOS Global Best Practice</i> <b>2017</b>
<br>
<h3><strong>Splunk Certified Power User 6.3</strong></h3>
<i>Splunk (CERT: 117755) </i> <b>2016</b>
<br>
<h3><strong>Emerging Leaders</strong></h3>
<i>Genesys | Interactive Intelligence</i> <b>2015</b>