<h2>Please reach out to discuss new opportunities..</h2>
<div class="logos hidden centered-items">
    <div class="logo hidden">
        <p class="hidden"><a href="tel:317-662-0997"><i class="fa-solid fa-mobile-screen-button fa-xl"></i>(317) 662-0997</a></p>
        <p class="hidden"><a href="mailto:joshua.morrisett@gmail.com"><i class="fa-solid fa-envelope fa-xl"></i>joshua.morrisett@gmail.com</a></p>
        <p class="hidden"><a href="https://www.linkedin.com/in/joshua-morrisett"><i class="fa-brands fa-linkedin fa-xl"></i>LinkedIn (joshua-morrisett)</a></p>
        <p class="hidden"><a href="https://www.morrisett.net"><i class="fa-solid fa-globe fa-xl"></i></i>www.morrisett.net</a></p>
    </div>
</div>