<!DOCTYPE html>

<section>
    <div>
        <div id="architect" class="hidden">{% include 'roles/sr_architect.html' %}</div>
        <div id="developer" class="hidden">{% include 'roles/automation_dev.html' %}</div>
        <div id="csia" class="hidden">{% include 'roles/csia.html' %}</div>
        <div id="principal_engineer" class="hidden">{% include 'roles/principal_engineer.html' %}</div>
        <div id="sr_sys_engineer" class="hidden">{% include 'roles/sr_sys_engineer.html' %}</div>
        <div id="sys_engineer" class="hidden">{% include 'roles/sys_engineer.html' %}</div>
    </div>
</section>