<!DOCTYPE html> {% extends "base.html" %} {% block head %} {{ super() }}
<script defer src="static\style.js"></script>
{% endblock %} {% block content %}


<div class="centered-text">
    <br><br>
    <h3>
        Please note: This site is heavily under construction. I am pushing frequent updates between interviews and in the evenings while I study and look at new projects.
    </h3>
</div>

<section>
    <div>
        <h1>Projects</h1>
        <p>Unfortunately, I was not able to keep any of the work I did at my previous company over the last 10 years. Since I haven't been on the market, I haven't prepared many public projects in Github. I am currently working on a few projects that I will
            be able to share soon. I have worked on a few projects that I will not be able to share, but I will be able to discuss in some general detail.
        </p>

        <br>
        <br>

        <!-- This really needs to be a generated list from os library to get the file names from the dir. Hardcoding for time-sake -->
        <!--
            {% for file_name in file_list %}
                {% include file_name %}
            {% endfor %} 
        -->

        <div class="deck">
            {% include "./portfolio-cards/flaskme.html" %} {% include "./portfolio-cards/enginecalc.html" %}
        </div>


        <section>
            <div class="centered-text">
                <h1>More to come soon!! Stay tuned. Thank you for your patience!</h1>
            </div>

        </section>

    </div>
</section>

<section>
    <div>
        {% include 'contactinfo.html' %}
    </div>
</section>

</span> {% endblock %}