<!DOCTYPE html> {% extends "base.html" %} {% block head %} {{ super() }}
<script defer src="static\style.js"></script>
{% endblock %} {% block content %}

<span id="resume">
    <section>
    <div class="centered hidden">
        <img id="profile-photo" src="https://avatars.githubusercontent.com/u/17263055?v=4" alt="Profile Photo">
    </div>
    <div id="greeting" class="centered hidden">
        <h1>Hello, my name is Joshua Morrisett...</h1>
        <br />
        <h2 class="centered">It's nice to meet you!</h2>
    </div>
    <div class="summary hidden">
        I am a motivated professional looking for new opportunities to provide value. I thrive in collaborative team environments and am self-driven when working solo. I have a highly-epistemophilic personality. You can always find me learning something new.
        I love to play a variety of musical instruments. I enjoy small electronics and microprocessors. I love cars, drag racing and working on my own project racecar. I have a passion for data, automation, and building things from scratch.
    </div>
</section>
<section>
    <div class="important">
        <h4>Welcome to my <strong>new</strong> website. Below is a copy of my CV.</h4>
    </div>
</section>


<section>
    <div id="skills">
        <h2>Professional Skills</h2>
        <hr>
        <div class="grid-container">
            {% include './resume/skills.html' %}
        </div>
    </div>
</section>

<section>
    <div id="experience">
        <h2>Professional Experience</h2>
        <hr> {% include './resume/experience.html' %}
    </div>
</section>

<section>
    <div id="certifications" class="hidden">
        <h2>Education & Certification</h2>
        <hr>
        <h3><strong>Bachelor of Science in Computer/Information Technology</strong></h3>
        <h4><strong>Minor in Business Administration</strong> </h4>
        <i>Ball State University | Muncie, Indiana</i> <b>May 2013</b>
        <br>
        <br>
        <h3><strong>ITIL Foundations V3</strong> </h3>
        <i>AXELOS Global Best Practice</i> <b>2017</b>
        <br>
        <h3><strong>Splunk Certified Power User 6.3</strong></h3>
        <i>Splunk (CERT: 117755) </i> <b>2016</b>
        <br>
        <h3><strong>Emerging Leaders</strong></h3>
        <i>Genesys | Interactive Intelligence</i> <b>2015</b></div>
</section>

<section>
    <div id="awards" class="hidden">
        <h2>Honors & Awards</h2>
        <hr>
        <h3><strong>Engineer of the Year</strong> <i>Genesys | Interactive Intelligence </i>2016</h3>
        <h3><strong>Support “Hero” Award</strong> <i>Genesys | Interactive Intelligence</i> 2015</h3>
        <h3><strong>Award of Excellence</strong> <i>Genesys | Interactive Intelligence</i> 2014</h3>
        <h3><strong>Engineer of the Quarter</strong> <i>Genesys | Interactive Intelligence</i> Q1 2014</h3>
        <h3><strong>Engineer of the Quarter</strong> <i>Genesys | Interactive Intelligence</i> Q4 2013</h3>
    </div>
</section>

<section>
    <div>
        <h2>Thank you for stopping by!</h2>
        {% include 'contact.html' %}
    </div>
</section>
</span> {% endblock %}

<!-- Calendar -->
<div class="calendar"></div>