<!DOCTYPE html> {% extends "base.html" %} {% block head %} {{ super() }}
<script defer src="static\style.js"></script>
{% endblock %} {% block content %}

<section>
    <div class="ima wrapper">
        <div class="ima static-txt">I'm</div>
        <ul class="ima dynamic-txts">
            <li><span>an Architect</span></li>
            <li><span>an Administrator</span></li>
            <li><span>a Developer</span></li>
            <li><span>an Engineer</span></li>
            <li><span>a Leader</span></li>
            <li><span>available for hire!</span></li>
        </ul>
    </div>
</section>

<section>
    <div class="centered hidden">
        <img id="profile-photo" src="https://avatars.githubusercontent.com/u/17263055?v=4" alt="Profile Photo">
    </div>
    <div id="greeting" class="centered hidden">
        <h1>Hello, my name is Joshua Morrisett...</h1>
        <br />
        <h2 class="centered">It's nice to meet you!</h2>
    </div>
    <div class="summary hidden">
        I am a motivated professional looking for new opportunities to provide value. I thrive in collaborative team environments and am self-driven when working solo. I have a highly-epistemophilic personality. You can always find me learning something new.
        I love to play a variety of musical instruments. I enjoy small electronics and microprocessors. I love cars, drag racing and working on my own project racecar. I have a passion for data, automation, and building things from scratch.
    </div>
</section>
<section>
    <div class="important">
        <h4>Welcome to my <strong>new</strong> website. Below is a copy of my CV.</h4>
    </div>
</section>


<section>
    <div id="skills">
        <h2>Professional Skills</h2>
        <hr>
        <div class="grid-container">
            {% include 'skills.html' %}
        </div>
    </div>
</section>

<section>
    <div id="experience">
        <h2>Professional Experience</h2>
        <hr> {% include 'experience.html' %}
    </div>
</section>

<section>
    <div id="certifications" class="hidden">{% include 'certifications.html' %}</div>
</section>

<section>
    <div id="awards" class="hidden">{% include 'awards.html' %}</div>
</section>

<section>
    <div>
        <h2>Thank you for stopping by!</h2>
        {% include 'contact.html' %}
    </div>
</section>
{% endblock %}

<!-- Calendar -->
<div class="calendar"></div>