<!DOCTYPE html>

<div class="card">
    <!-- <img src="../static/img/flask-me_screenshot.png" alt="Flask-Me Screenshot" style="width:100%"> -->
    <div class="container">
        <div class="centered-text">
            <h2><a href="https://github.com/jdmorrisett/engine-calculator">Engine Calculator</h2>
            <sub>Github Source</sub></a>
                <hr>
        </div>
        <div>
            <h4>Some incorporated technologies</h4>
            <ul>
                <li>React</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
        </div>

        <div class="centered-all centered-text">
            <p>
                This is a simple React app that I created to help me calculate the cubic inch displacement of an engine based off of number of cylinders, bore diameter, and stroke length. I only spent about an hour working on this, but I plan to add more features. I
                am also planning to add a backend to this project to store the data in a database and allow users to save their engines, or get common engine sizes to convert. I also plan to make this a PWA so that it can be used offline.
                <br>
                <br> Check it out on <a href="https://github.com/jdmorrisett/flask-me">Github</a> for the latest info.
            </p>
        </div>

        <div>
            <h4>Roadmap</h4>
            <ul>
                <li>Metric conversion (liters/cc)</li>
                <li>Express backend</li>
                <li>REST API</li>
                <li>Login and Authentication</li>
                <li>Horsepower/Torque Conversion</li>
                <li>1/4 Mile Estimates</li>
                <li>Gear Ratio to MPH/KPH Conversion</li>
                <li>Relational DB (Postgres?)</li>
            </ul>
        </div>
    </div>
</div>