<!DOCTYPE html>

<div class="card">
    <!-- <img src="../static/img/flask-me_screenshot.png" alt="Flask-Me Screenshot" style="width:100%"> -->
    <div class="container">
        <div class="centered-text">
            <a href="https://github.com/jdmorrisett/flask-me">
                <h2>Flask-Me (This website project)</h2>
                <sub>Github Source</a></sub>
                <hr>
        </div>
        <div>
            <h4>Some incorporated technologies</h4>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>CD (Github Actions)</li>
                <li>Docker Container</li>
                <li>GCP Cloud Run Deployment</li>
            </ul>
        </div>

        <div class="centered-all centered-text">
            <p>Although a simple web app to host my about me page, resume, contact info, and portfolio (soon), this application uses several technologies and concepts to get to this point. I just started this project last week and will be continuing to update
                it as I can get free time. I plan to add the Continous Integration with some test cases, add more portfolio projects, and create the IaC with Terraform for this application and others. <br><br>Check it out on <a href="https://github.com/jdmorrisett/flask-me">Github</a>                for the latest info.</p>
        </div>

        <div>
            <h4>Roadmap</h4>
            <ul>
                <li>More portfolio projects</li>
                <li>Skills API (REST)</li>
                <li>Experience API (GraphQL?)</li>
                <li>Scheduling</li>
                <li>Blog</li>
                <li>Relational DB (Postgres?)</li>
            </ul>
        </div>
    </div>
</div>